@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.instagram {
  background-image: url('/assets/iconos/instagram.png');
  background-size: 80%;
}
.x {
  background-image: url('/assets/iconos/x.png');
  background-size: 60%;
}
.linkedin {
  background-image: url('/assets/iconos/linkedin.png');
  background-size: 75%;
}
.facebook {
  background-image: url('/assets/iconos/facebook.png');
  background-size: 75%;
}

.barras-rojas::after {
  bottom: -2rem;
  right: 0rem;
  width: 1rem;
  height: calc(25% + 2rem);
}

.barras-rojas::before {
  bottom: -2rem;
  right: 0;
  width: 33%;
  height: 2rem;
}

.barras-rojas-2::after {
  top: -1rem;
  left: -1rem;
  width: 1rem;
  height: calc(50% + 1rem);
}

.barras-rojas-2::before {
  top: -1rem;
  left: 0;
  width: 6rem;
  height: 1rem;
}
.barras-rojas-3::after {
  top: -2rem;
  right: -2rem;
  width: 2rem;
  height: calc(100% + 2rem);
}

.barras-rojas-3::before {
  top: -2rem;
  right: -2rem;
  width: 10rem;
  height: 2rem;
}

.barras-rojas-3::after,
.barras-rojas-3::before {
  display: none;
}

.barras-rojas-4::after {
  bottom: -1rem;
  right: -1rem;
  width: 1rem;
  height: calc(100% + 1rem);
}

.barras-rojas-4::before {
  bottom: -1rem;
  right: -1rem;
  width: 10rem;
  height: 1rem;
}

.barras-rojas-4::after,
.barras-rojas-4::before {
  display: block;
}

.barras-rojas::after,
.barras-rojas::before,
.barras-rojas-2::after,
.barras-rojas-2::before,
.barras-rojas-3::after,
.barras-rojas-3::before,
.barras-rojas-4::after,
.barras-rojas-4::before {
  content: '';
  position: absolute;
  background-color: #df002f;
}

.white-bar-mini,
.red-bar-mini {
  position: relative;
  width: 3rem;
  height: 2px;
  margin: 2rem 0rem;
}
.white-bar-mini {
  background-color: white;
}

.red-bar-mini {
  background-color: #df002f;
}

.red-bar-titles {
  position: relative;
  width: 3rem;
  height: 2px;
  margin: 0rem;
  background-color: #df002f;
}

.caja {
  transition: all 0.3s ease-in-out;
}

.caja:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transform: translateY(2px) translateX(2px);
}

.caja_servicios {
  transition: all 0.3s ease-in-out;
}

.caja_servicios:hover {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  transform: translateY(1px) translateX(2px);
}

/* Carrusel */

.item {
  min-height: 30rem;
  min-width: 30rem;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  pointer-events: none;
}
.carrusel-contenedor {
  display: flex;
  background-color: black;
  gap: 1rem;
}

.carrusel {
  cursor: grab;
  overflow: hidden;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .barras-rojas::after {
    right: 0rem;
    width: 2rem;
  }
}

@media (min-width: 1024px) {
  .barras-rojas-3::after,
  .barras-rojas-3::before {
    display: block;
  }
  .barras-rojas-4::after,
  .barras-rojas-4::before {
    display: none;
  }
  .barras-rojas-2::after {
    bottom: -2rem;
    top: auto;
    left: -2rem;
    width: 2rem;
    height: calc(50% + 2rem);
  }
  .barras-rojas-2::before {
    bottom: -2rem;
    top: auto;
    left: 0;
    width: 6rem;
    height: 2rem;
  }
}
